*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

:root {
  --primary-light-hsl: 100, 100%, 100%;
  --primary-hsl: 100, 100%, 50%;
  --primary-dark-hsl: 100, 100%, 6%;
  --success-hsl: 80, 30%, 40%;
  --error-hsl: 30, 70%, 35%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  text-align: center;
}

.full-screen-container {
  background-image: url("nature-background.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  --color: hsl(var(--primary-light-hsl), 0.7);
  background-color: var(--color);
  box-shadow: 0 0 20px 0 var(--color);
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
}

.login-title {
  margin: 0;
  color: rgb(95, 110, 99);
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  /* color: rgb(95, 110, 99); */
  gap: 20px;
  margin-top: 40px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-group label {
  color: rgb(95, 110, 99);
  font-weight: lighter;
}

.input-group input {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: hsl(var(--primary-light-hsl), 0.3);
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-weight: lighter;
  color: rgb(124, 128, 93);
}

.input-group.success input {
  box-shadow: 0 0 3px 2px hsl(var(--success-hsl));
}

.input-group.error input {
  box-shadow: 0 0 3px 2px hsl(var(--error-hsl));
}

.input-group input:focus {
  box-shadow: 0 0 3px 2px hsl(var(--primary-light-hsl));
}

.input-group .msg {
  display: none;
  font-size: 0.75rem;
}

.input-group.success .msg,
.input-group.error .msg {
  display: block;
}

.input-group.success .msg {
  color: hsl(var(--success-hsl));
}

.input-group.error .msg {
  color: hsl(var(--error-hsl));
}

.login-button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: rgb(95, 110, 99);
  background-color: hsl(var(--success-hsl), 0.2);
  border: solid 1.5px hsl(var(--success-hsl));
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
}

.login-button:hover,
.login-button:focus {
  background-color: hsl(var(--success-hsl), 0.35);
}
